<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Cards</key>
	<array>
		<dict>
			<key>name</key>
			<string>蔡文姬-汉-骑</string>
			<key>star</key>
			<string>5</string>
		</dict>
        <dict>
            <key>name</key>
            <string>貂蝉-汉-弓</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>董卓-汉-步</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>何太后-汉-弓</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>华佗-汉-步</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>灵帝-汉-弓</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>卢植-汉-骑</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>吕布-汉-骑</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>潘凤-汉-骑</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>十常侍-汉-弓</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>袁绍-汉-步</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>张机-汉-弓</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>朱儁-汉-弓</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>SP司马懿-汉-弓</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>貂蝉-群-步</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>陈宫-群-弓</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>妲己-群-步</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>董白-群-弓</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>董卓-群-骑</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>贾诩-群-步</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>轲比能-群-骑</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>吕布-群-弓</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>吕布-群-骑</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>马超-群-骑</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>孟获-群-步</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>木鹿大王-群-骑</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>庞德-群-骑</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>兀突骨-群-步</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>颜良＆文丑-群-骑</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>张宝-群-弓</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>张郃-群-骑</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>张角-群-骑</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>张梁-群-步</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>张宁-群-步</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>甄洛-群-弓</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>祝融夫人-群-骑</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>法正-蜀-骑</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>关银屏-蜀-步</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>关羽-蜀-骑</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>黄月英-蜀-步</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>黄忠-蜀-步</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>姜维-蜀-步</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>刘备-蜀-步</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>马云禄-蜀-骑</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>庞统-蜀-步</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>沙摩柯-蜀-弓</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>徐庶-蜀-骑</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>张飞-蜀-骑</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>张姬-蜀-弓</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>赵云-蜀-步</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>诸葛亮-蜀-步</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>诸葛亮-蜀-弓</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>卞夫人-魏-骑</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>曹操-魏-骑</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>曹纯-魏-骑</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>曹丕-魏-弓</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>曹仁-魏-步</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>邓艾-魏-步</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>典韦-魏-步</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>关羽-魏-骑</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>郭嘉-魏-骑</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>郝昭-魏-步</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>司马懿-魏-步</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>王异-魏-弓</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>夏侯惇-魏-骑</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>夏侯渊-魏-骑</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>许褚-魏-步</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>荀攸-魏-步</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>荀彧-魏-骑</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>荀彧＆荀攸-魏-步</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>张春华-魏-弓</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>张郃-魏-步</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>张辽-魏-骑</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>钟会-魏-弓</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>步皇后-吴-步</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>甘宁-吴-步</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>黄盖-吴-步</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>陆抗-吴-步</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>陆逊-吴-步</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>吕蒙-吴-弓</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>孙策-吴-骑</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>孙坚-吴-步</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>孙权-吴-弓</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>孙尚香-吴-弓</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>太史慈-吴-弓</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>小乔＆大乔-吴-步</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>周姬-吴-弓</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>周泰-吴-步</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>周瑜-吴-弓</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>诸葛恪-吴-弓</string>
            <key>star</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>direction</string>
            <key>star</key>
            <string>4</string>
        </dict>
        <dict>
            <key>name</key>
            <string>direction</string>
            <key>star</key>
            <string>3</string>
        </dict>
	</array>
</dict>
</plist>
